.novedad-link {
    text-decoration: none;
    color: inherit;
}

.novedad-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.novedad-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.novedad-box-up {
    position: relative;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #fff;
}

.novedad-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #CD1F26;
    color: white;
    font-size: 10px;
    font-weight: 800;
    padding: 3px 10px;
    border-radius: 20px;
    z-index: 2;
}

.novedad-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    transition: transform 0.5s ease;
}

/* Efecto de descripción en hover */
.novedad-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 29, 160, 0.9); /* Azul marca */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.novedad-card:hover .novedad-overlay {
    opacity: 1;
}

.novedad-desc {
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

/* Parte inferior: ID y Código */
.novedad-box-down {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #eee;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.novedad-id {
    display: block;
    font-size: 22px;
    font-weight: 900;
    color: #001da0;
    margin-bottom: 10px;
}

.novedad-footer {
    background: #f8f9fa;
    padding: 8px;
    border-radius: 6px;
}

.footer-label {
    display: block;
    font-size: 9px;
    color: #888;
    font-weight: 700;
}

.footer-value {
    display: block;
    font-size: 12px;
    color: #444;
    font-weight: 700;
    margin-top: 2px;
}